# URLs configuráveis para conversão
# Copie para .env e preencha com seus valores reais

NUXT_PUBLIC_CHECKOUT_URL=https://buy.stripe.com/5kQfZg37lbkd8QMfz0cAo05
NUXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
