# URLs configuráveis para conversão
# Copie para .env e preencha com seus valores reais

NUXT_PUBLIC_CHECKOUT_URL=https://buy.stripe.com/5kQbJ03952DzdFx6qb00000
NUXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
